# Copy to .env and update for your local MySQL and VLM and twillio credentials
LOCAL_DB_HOST=127.0.0.1
LOCAL_DB_PORT=3306
LOCAL_DB_USER=root
LOCAL_DB_PASS= #password
LOCAL_DB_NAME=vinimi_local


VLM_ENABLED=true
VLM_BASE=https://router.huggingface.co/v1
VLM_MODEL=Qwen/Qwen2.5-VL-7B-Instruct
HF_API_KEY=""

# twilio
TWILIO_ACCOUNT_SID=your_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_FROM_NUMBER=+1XXXXXXXXXX  # your Twilio number
ALERTS_SMS_ENABLED=true
ALERTS_COOLDOWN_MINUTES=15
